EVENeT/EVENeT/Service References/EVENeTServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:24293/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:24293/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_UsernameExists_InputMessage">
    <wsdl:part name="parameters" element="tns:UsernameExists" />
  </wsdl:message>
  <wsdl:message name="IService_UsernameExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsernameExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CorrectUserNameAndPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CorrectUserNameAndPassword" />
  </wsdl:message>
  <wsdl:message name="IService_CorrectUserNameAndPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CorrectUserNameAndPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService_IndividualFullySetUp_InputMessage">
    <wsdl:part name="parameters" element="tns:IndividualFullySetUp" />
  </wsdl:message>
  <wsdl:message name="IService_IndividualFullySetUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:IndividualFullySetUpResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UserType_InputMessage">
    <wsdl:part name="parameters" element="tns:UserType" />
  </wsdl:message>
  <wsdl:message name="IService_UserType_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateIndividual_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateIndividual" />
  </wsdl:message>
  <wsdl:message name="IService_CreateIndividual_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateIndividualResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrganization" />
  </wsdl:message>
  <wsdl:message name="IService_CreateOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrganizationResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="UsernameExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UsernameExists" message="tns:IService_UsernameExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UsernameExistsResponse" message="tns:IService_UsernameExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CorrectUserNameAndPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CorrectUserNameAndPassword" message="tns:IService_CorrectUserNameAndPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CorrectUserNameAndPasswordResponse" message="tns:IService_CorrectUserNameAndPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IndividualFullySetUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IndividualFullySetUp" message="tns:IService_IndividualFullySetUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IndividualFullySetUpResponse" message="tns:IService_IndividualFullySetUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserType">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UserType" message="tns:IService_UserType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UserTypeResponse" message="tns:IService_UserType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateIndividual">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateIndividual" message="tns:IService_CreateIndividual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateIndividualResponse" message="tns:IService_CreateIndividual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrganization">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateOrganization" message="tns:IService_CreateOrganization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateOrganizationResponse" message="tns:IService_CreateOrganization_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UsernameExists">
      <soap:operation soapAction="http://tempuri.org/IService/UsernameExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CorrectUserNameAndPassword">
      <soap:operation soapAction="http://tempuri.org/IService/CorrectUserNameAndPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IndividualFullySetUp">
      <soap:operation soapAction="http://tempuri.org/IService/IndividualFullySetUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserType">
      <soap:operation soapAction="http://tempuri.org/IService/UserType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateIndividual">
      <soap:operation soapAction="http://tempuri.org/IService/CreateIndividual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrganization">
      <soap:operation soapAction="http://tempuri.org/IService/CreateOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:24293/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>