EVENeT/EVENeT/Service References/EVENeTServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:24293/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:24293/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:24293/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_UsernameExisted_InputMessage">
    <wsdl:part name="parameters" element="tns:UsernameExisted" />
  </wsdl:message>
  <wsdl:message name="IService_UsernameExisted_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsernameExistedResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CorrectUserNameAndPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CorrectUserNameAndPassword" />
  </wsdl:message>
  <wsdl:message name="IService_CorrectUserNameAndPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CorrectUserNameAndPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateIndividual_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateIndividual" />
  </wsdl:message>
  <wsdl:message name="IService_CreateIndividual_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateIndividualResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="UsernameExisted">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UsernameExisted" message="tns:IService_UsernameExisted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UsernameExistedResponse" message="tns:IService_UsernameExisted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CorrectUserNameAndPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CorrectUserNameAndPassword" message="tns:IService_CorrectUserNameAndPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CorrectUserNameAndPasswordResponse" message="tns:IService_CorrectUserNameAndPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateUser" message="tns:IService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateUserResponse" message="tns:IService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateIndividual">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateIndividual" message="tns:IService_CreateIndividual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateIndividualResponse" message="tns:IService_CreateIndividual_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UsernameExisted">
      <soap:operation soapAction="http://tempuri.org/IService/UsernameExisted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CorrectUserNameAndPassword">
      <soap:operation soapAction="http://tempuri.org/IService/CorrectUserNameAndPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateIndividual">
      <soap:operation soapAction="http://tempuri.org/IService/CreateIndividual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:24293/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>