EVENeT/EVENeT/Service References/EVENeTServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:24293/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:24293/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:24293/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EVENeTWcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_UsernameExists_InputMessage">
    <wsdl:part name="parameters" element="tns:UsernameExists" />
  </wsdl:message>
  <wsdl:message name="IService_UsernameExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsernameExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CorrectUserNameAndPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CorrectUserNameAndPassword" />
  </wsdl:message>
  <wsdl:message name="IService_CorrectUserNameAndPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CorrectUserNameAndPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService_IndividualFullySetUp_InputMessage">
    <wsdl:part name="parameters" element="tns:IndividualFullySetUp" />
  </wsdl:message>
  <wsdl:message name="IService_IndividualFullySetUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:IndividualFullySetUpResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SetIndividualInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SetIndividualInfo" />
  </wsdl:message>
  <wsdl:message name="IService_SetIndividualInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetIndividualInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SetOrganizationInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOrganizationInfo" />
  </wsdl:message>
  <wsdl:message name="IService_SetOrganizationInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOrganizationInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SetProfilePicture_InputMessage">
    <wsdl:part name="parameters" element="tns:SetProfilePicture" />
  </wsdl:message>
  <wsdl:message name="IService_SetProfilePicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetProfilePictureResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SetCoverPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCoverPicture" />
  </wsdl:message>
  <wsdl:message name="IService_SetCoverPicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCoverPictureResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UserType_InputMessage">
    <wsdl:part name="parameters" element="tns:UserType" />
  </wsdl:message>
  <wsdl:message name="IService_UserType_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateIndividual_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateIndividual" />
  </wsdl:message>
  <wsdl:message name="IService_CreateIndividual_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateIndividualResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrganization" />
  </wsdl:message>
  <wsdl:message name="IService_CreateOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEvent" />
  </wsdl:message>
  <wsdl:message name="IService_CreateEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLocation" />
  </wsdl:message>
  <wsdl:message name="IService_CreateLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetLocationFromAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationFromAddress" />
  </wsdl:message>
  <wsdl:message name="IService_GetLocationFromAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationFromAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetIndividual_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIndividual" />
  </wsdl:message>
  <wsdl:message name="IService_GetIndividual_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIndividualResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getAllEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllEvent" />
  </wsdl:message>
  <wsdl:message name="IService_getAllEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetEventFromId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventFromId" />
  </wsdl:message>
  <wsdl:message name="IService_GetEventFromId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventFromIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="UsernameExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UsernameExists" message="tns:IService_UsernameExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UsernameExistsResponse" message="tns:IService_UsernameExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CorrectUserNameAndPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CorrectUserNameAndPassword" message="tns:IService_CorrectUserNameAndPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CorrectUserNameAndPasswordResponse" message="tns:IService_CorrectUserNameAndPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IndividualFullySetUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IndividualFullySetUp" message="tns:IService_IndividualFullySetUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IndividualFullySetUpResponse" message="tns:IService_IndividualFullySetUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetIndividualInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SetIndividualInfo" message="tns:IService_SetIndividualInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SetIndividualInfoResponse" message="tns:IService_SetIndividualInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOrganizationInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SetOrganizationInfo" message="tns:IService_SetOrganizationInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SetOrganizationInfoResponse" message="tns:IService_SetOrganizationInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetProfilePicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SetProfilePicture" message="tns:IService_SetProfilePicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SetProfilePictureResponse" message="tns:IService_SetProfilePicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCoverPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SetCoverPicture" message="tns:IService_SetCoverPicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SetCoverPictureResponse" message="tns:IService_SetCoverPicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserType">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UserType" message="tns:IService_UserType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UserTypeResponse" message="tns:IService_UserType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateIndividual">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateIndividual" message="tns:IService_CreateIndividual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateIndividualResponse" message="tns:IService_CreateIndividual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrganization">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateOrganization" message="tns:IService_CreateOrganization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateOrganizationResponse" message="tns:IService_CreateOrganization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateEvent" message="tns:IService_CreateEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateEventResponse" message="tns:IService_CreateEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateLocation" message="tns:IService_CreateLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateLocationResponse" message="tns:IService_CreateLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocationFromAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetLocationFromAddress" message="tns:IService_GetLocationFromAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetLocationFromAddressResponse" message="tns:IService_GetLocationFromAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIndividual">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetIndividual" message="tns:IService_GetIndividual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetIndividualResponse" message="tns:IService_GetIndividual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getAllEvent" message="tns:IService_getAllEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getAllEventResponse" message="tns:IService_getAllEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventFromId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetEventFromId" message="tns:IService_GetEventFromId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetEventFromIdResponse" message="tns:IService_GetEventFromId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UsernameExists">
      <soap:operation soapAction="http://tempuri.org/IService/UsernameExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CorrectUserNameAndPassword">
      <soap:operation soapAction="http://tempuri.org/IService/CorrectUserNameAndPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IndividualFullySetUp">
      <soap:operation soapAction="http://tempuri.org/IService/IndividualFullySetUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetIndividualInfo">
      <soap:operation soapAction="http://tempuri.org/IService/SetIndividualInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOrganizationInfo">
      <soap:operation soapAction="http://tempuri.org/IService/SetOrganizationInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProfilePicture">
      <soap:operation soapAction="http://tempuri.org/IService/SetProfilePicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCoverPicture">
      <soap:operation soapAction="http://tempuri.org/IService/SetCoverPicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserType">
      <soap:operation soapAction="http://tempuri.org/IService/UserType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateIndividual">
      <soap:operation soapAction="http://tempuri.org/IService/CreateIndividual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrganization">
      <soap:operation soapAction="http://tempuri.org/IService/CreateOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEvent">
      <soap:operation soapAction="http://tempuri.org/IService/CreateEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLocation">
      <soap:operation soapAction="http://tempuri.org/IService/CreateLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocationFromAddress">
      <soap:operation soapAction="http://tempuri.org/IService/GetLocationFromAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndividual">
      <soap:operation soapAction="http://tempuri.org/IService/GetIndividual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEvent">
      <soap:operation soapAction="http://tempuri.org/IService/getAllEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventFromId">
      <soap:operation soapAction="http://tempuri.org/IService/GetEventFromId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:24293/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>