EVENeT/EVENeT/Service References/EVENeTServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EVENeTWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EVENeTWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfgetAllEventResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="getAllEventResult" nillable="true" type="tns:getAllEventResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfgetAllEventResult" nillable="true" type="tns:ArrayOfgetAllEventResult" />
  <xs:complexType name="getAllEventResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="location" type="xs:int" />
      <xs:element minOccurs="0" name="publishDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="thumbnail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getAllEventResult" nillable="true" type="tns:getAllEventResult" />
  <xs:complexType name="getEventFromIDResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="location" type="xs:int" />
      <xs:element minOccurs="0" name="publishDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="thumbnail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getEventFromIDResult" nillable="true" type="tns:getEventFromIDResult" />
  <xs:complexType name="getLocationFromIdResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="latitude" type="xs:double" />
      <xs:element minOccurs="0" name="longitude" type="xs:double" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="thumbnail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getLocationFromIdResult" nillable="true" type="tns:getLocationFromIdResult" />
</xs:schema>